
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Cormorant+Garamond&family=Dancing+Script:wght@500&family=Imperial+Script&family=Raleway&family=Ubuntu&display=swap');



:root {
    --secondary: #4d5809;
    --primary: #287b2d;
}


* {scroll-behavior: smooth;
font-family: 'Cormorant+Garamond';
box-sizing: border-box;}

body {height: 100vh;
margin: 0;
overflow-X: hidden;}

picture {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

picture > * {
    max-width: 100%;
}
/* header */

.header {
    position: fixed;
    width: 98%;
    height: 11%;
    border: 2px solid var(--secondary);
    overflow: hidden;
    margin: 0.7% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: white;}

.logo {width:450px;
height: 80px}

.r-wrapper > a {
    display: block;
    width: 120%;
    height: 110%;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-weight: bold;
    margin-right: 10px}
.r-wrapper > a > span {
    position: relative;
    z-index: 2;
    text-decoration: none;}
.r-wrapper > a:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary);
    transition: all .35s;
    text-decoration: none;
    color: var(--secondary);}
.r-wrapper > a:hover {color: #fff;
    text-decoration: none;}
.r-wrapper > A:hover::after {width: 100%;
    text-decoration: none;
    color: var(--secondary);}

.header-a {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.header-a:hover {
    text-decoration: none;
    color: var(--primary)
}
.header-li {
    list-style: none;
    color: var(--secondary);}

.boop {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 55%; 
    right: 0;
    top: 30px;
    position: absolute;
    transition: all 0.5s ease-in-out;
margin: 0;
padding: 0;}

.link__hover-effect {
    position: relative;
    text-decoration: none;
    color: var(--secondary);}
.link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    color: var(--secondary);
    text-decoration: none;
    transition: all 250ms ease ;}
.link__hover-effect:hover::after {
    left: 0;
    width: 100%;
    color: var(--secondary);
    text-decoration: none;}
.link__hover-effect--black::after {
    background: var(--secondary);;
    text-decoration: none;}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 10px;
}

.extend {
    height: 11%;
    transition: all 0.35s ease-in-out;
}

.down {
    margin-top: 0px;
}

.reserve {display: none}

@media (max-width: 625px) { 
    #header a {
     font-size: 0.9em;
    }
    .boop {
     width: 300px;
    
 }}

 .welcome {
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: 5em;
    background-color: var(--secondary);
    color: white;
    display: inline;
    padding: 0.3em;
    position: absolute;
    left: 0%;
    transform: translate(0, -95%);
    
}



/* header */



/* Image Slider */
.carousel-container {
    width: 77.3%; 
    margin: auto; 
    border: 5px solid var(--secondary); 
    overflow: hidden; 
    position: relative; 
    top: 15%;
}

.carousel-slide {
    display: flex; 
    width: 100%; 
    height: 520px;}


#prevBtn { 
    position: absolute; 
    top: 50%; 
    z-index: 9; 
    left: 5%; 
    font-size: 30px; 
    color: ■white; 
    cursor: pointer; }

#nextBtn { 
    position: absolute;
    top: 50%; 
    z-index: 9; 
    right: 5%; 
    font-size: 30px; 
    color: ■white; 
    cursor: pointer; }
/* Image Slider */

/* About */
#about-section {
    margin-top: 5%;}

.about-container {
    height: auto;
    min-height: 70vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.about-text-container {
    border: 3px solid var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 80%;
    margin: 20px;
}

.about-text-container span {
    font-family: 'Dancing Script';
    font-weight: bold;
    color: red;
    padding: 0;
}

.about-text-container p {
    border-top: 3px solid var(--primary);
    font-family: 'Cormorant Garamond';
    color: var(--secondary);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
}

.about-container img {
    float: right;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid var(--primary)
}

.about2 {
    grid-column: 1 / -1;
    justify-self: center;
}
/* About */
/* Hours and location */
.hoursal {
    height: auto;
    min-height: 90vh;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#hours-container {margin-top: 5%}
.hours-title {border-bottom: 3px solid var(--secondary);
display: flex;
justify-content: center;
grid-column: 1 / -1;}

.hours-title h1 {font-weight: bold;
    font-family: 'Dancing Script';
    font-size: 50px;
    color: red;}

.branch1 {
    border: 3px solid var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 80%;
    min-width: 250px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.branch1 span {
    font-family: 'Dancing Script';
    font-weight: bold;
    color: red;
    padding: 0;
}

.branch1 h1 {

    font-size: 45px;
}

.mini-text {border-top: 3px solid var(--primary);
    font-family: 'Cormorant Garamond';
    color: var(--secondary);
    font-size: 20px;
    padding: 20px 0px;}

.hours-timings {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.hours-days {
    font-weight: bold;
}

.linke {display:inline;
    width: 30%;
    min-width: 170px;
    padding: 10px;
background-color: var(--secondary);
cursor: pointer;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
margin: auto;
padding: 9px 20px;
color: white;
transition: all 300ms ease-in-out;

}
.linke:visited, .linke:link, .linke:active {
    text-decoration: none;
    color: white;}

.linke:hover {background-color: var(--primary);
    text-decoration: none;
    color: white;
transform: scale(1.065);}


.hoursal img {
    margin-top: 3.5%;
    display: flex;
    margin-left: 20px;
    border-radius: 15px;
}

.img-ifram{
    grid-column: 2 / 2;

}
.img-ifram img {
    min-width: 400px;
    width: 70%
}

iframe {
    width: 90%;
    min-width: 700px;
    height: 250px;
    margin: 20px 0px;
    display: flex;
    justify-self:center;
    align-self:baseline;
}

span .two {
    margin:50px 0px;
}
/* Hours and location */


/* Menu */
#menu-section {
    margin-top: 5%;
    
}

.menu-div {
    height: auto;
    min-height: 90vh
}

.menu-div span {border-bottom: 3px solid var(--secondary);
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;}
    
.menu-div span h1 {font-weight: bold;
        font-family: 'Dancing Script';
        font-size: 50px;
        color: red;}

.horizontal-menu {
    display: flex;
    margin: 20px auto;
    width: 75%;
    height: auto;
}

/* Menu */

/* Reservation */
#reserve-section {
    margin-top: 5%;    
}

.reserve-div{
    background-color: rgb(245, 238, 238);
    padding: 10px;
    width: 100%;
    height: auto;
    min-height: 25vh;
    border-top: 2px solid var(--secondary);
    font-family: 'Cormorant Garamond';
   
}

.reserve-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.reserve-text h1 {
    font-weight: bold;
    color: red;
    font-family: 'Dancing Script';
}

.footer {
    background-color: rgb(56, 55, 55);
    width: 100%;
    height: 20px;
    display: flex;
    color: rgb(210, 210, 210);
    justify-content: space-between;
    padding: 0px 10px;
}
/* Reservation */

/* scroll animation */
.hidden1 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hidden4 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden5 {
    opacity: 0;
    transition: all 2s;
}

.hidden2 {
    animation: fade-up 0.9s;
}

.hidden3 {
    animation: fade-down 0.75s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

@media (prefers-reduced-motion) {
    .hidden1 {
      transition: none;
    }
  }

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* scroll animation */

/* pop up */


@media (max-width: 944px) {
    .extend {
        height: calc(11% + 140px);
    }
    .down {
        margin-top: 44px;
    }

    .toggle-button {
        display: flex;
        z-index: 12;
        
    }
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .boop {
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
    .nav-div {
        display:none;
        width: 100%;
        text-align: center;
    }


    .header-a {
        padding: 0.5rem 1rem;

    }
    .nav-div.active {
        display:flex;
        transition: fade-in 1s ease-in-out;
    }
    .logo {width:430px;
    height: 80px;}

    .header-li {text-align: center;
    }

    .r-wrapper {display: none}

    .reserve {display: flex;
    align-self: center;}

    /* About us  */
    .about-container {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    /* About us  */

    /* hours  */
    .hoursal {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
   
    }

    .hours-title {
        width: 100%;
    }
    
    .img-ifram img{
        margin: 10px auto;
        
        
    }
    .img-ifram {
        width: 100%;
    }
    iframe{
        margin: 10px auto;
        width: 90%;
        min-width: 500px
    }
    /* hours  */

    /* menu  */
    .horizontal-menu {
        display: none !important;
    }

    .vertical-menu {
        display: block;
        margin: 20px auto;
        width: 80%;
        height: auto;
    }
    /* menu  */

}

/* mobile  */

@media (max-width: 450px) {
    .toggle-button {
        display: flex;
        
    }
    .header{
        top: 3%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        height: 9%

    }
    
    .hidden4 {
        opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 0s;
    }

    .extend {
        height: calc(9% + 140px)
    }
    .boop {
        flex-direction: column;
        width: 100%;
        background-color: white;
        margin-top: 20px;
    }
    .nav-div {
        display:none;
        width: 100%;
        text-align: center;}

    .header-li {text-align: center;}

    .header-a {
        padding: 0.5rem 1rem;}
    .nav-div.active {
        display:flex;
        transition: fade-in 1s ease-in-out;}
    
    .logo {width:230px;
        height: 100%;
        margin-top: 4px;}

    .welcome {
        font-size: 3.5em;
    }

    .carousel-container {
        width: 90%; 
        margin: auto; 
        border: 5px solid var(--secondary); 
        overflow: hidden; 
        position: relative; 
        top: 15%;
    }
    
    .carousel-slide {
        display: flex; 
        width: 100%; 
        height: 480px;}

   

    /* about  */
    .about-container {width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;}

    .about-text-container {
        margin: auto;
        width: 100%;
        min-width: none;
    }

    .about-container img {
        display: block;
        min-width: 280px;
        width: 96%;
    }

    .about2 {margin-top: 0;}
    /* about  */

    /* hours  */
    .hours-title h1 {
        font-size: 35px;
    }

    .branch1 h1 {

        font-size: 33px;
    }

    .mini-text { font-size: 18px;}

    .img-ifram img {
        min-width: 200px;
        width: 96%;
    }

    .img-ifram iframe {
        min-width: 100px;
    }
    /* hours  */

    /* menu  */

    .vertical-menu {
        width: 100%;
        
    }
}


@media (max-width: 608px) {
    .designed{display: none}


    .about-container {
        display: flex;
        flex-direction: column;
    }
}
